h1 {
    font-size: 36px;
    padding: 0px;
}
h2 {
    font-size: 20px;
    margin: auto;
}
hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
#logo_container {
    margin-top: 26px;
}
.logo {
    width: 100px;
    border: 1px solid #be0026;
}
@media (max-width: 410px) {
    .col-xs-9 h1 {
        font-size: 9vw;
    }
    .col-xs-9 h2 {
        font-size: 5vw;
        margin-top: auto;
    }
    .logo {
        width: 23vw;
        border: 1px solid #be0026;
    }
}
